* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #0f172a, #0a0a0f);
  color: #e2e8f0;

  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cabecalho {
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.192);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 15px 0;
}

.logo {
  color: #00f5ff;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

.logo h1 {
  font-family: 'Orbitron';
    color: #00f5ff;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


 
.menu {
  list-style: none;
  gap: 2rem;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #cbd5f5;
}

nav ul li a:hover {
  color: #00f5ff;
  text-shadow: 0 0 10px #00f5ff;
}

h2, h4 {
  font-family: 'Orbitron', sans-serif;
  color: #00f5ff;
}

nav ul li a {
  color: #cbd5f5;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}

nav ul li a::after {
  content: '';
  height: 2px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, #4ecdc4, #349090);
}

nav ul li a:hover::after {
  width: 100%;
  transition: width 0.3s ease;
}


section {
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p span {

  color: blue;
}



/* Seção Sobre Mim */

.perfil p {
  color: #94a3b8;
}

p span {
  color: #00f5ff;
  font-weight: bold;
}
.sobre {
  align-items: center;
  margin: 10px 50;
  gap: 70px;
}

.conteudo-sobre {
align-items: center;
flex: 1;
  
}

h4 {
  font-size: 2.5rem;
  color: #f8f7f7;
}

.conteudo-sobre span {
  color: #00f5ff;
  text-shadow: 0 0 10px #00f5ff;
}

.perfil p {
  margin-top: 60px;
  font-size: 1.2rem;
  color: #ffffff;
  max-width: 600px;
}


.perfil {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  width: 100%;
}

.foto-perfil {
  width: 300px;
  /* Tamanho da foto */
  height: 300px;
  border-radius: 50%;
  /* Faz a foto ficar redonda */
  object-fit: cover;
  /* Faz a imagem se ajustar dentro do círculo */
  border: 3px solid #080808;
  /* Borda ao redor da foto */
  margin-left: 40px;
  overflow: hidden;
  box-shadow: 0 0 20px #4ecdc4, 0 0 40px #349090;
  animation: glow-border 1.5s infinite alternate;
}
.foto-perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.foto-perfil::before {
  content: "";
  position: absolute;
  inset: -10px;
  background: linear-gradient(45deg, #00f5ff, #8a2be2);
  filter: blur(25px);
  z-index: 0;
}

.foto-perfil img {
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes glow-border {
  0% {
    box-shadow: 0 0 10px #4ecdc4,
      0 0 20px #349090;
  }

  100% {
    box-shadow: 0 0 30px #a3e6de,
      0 0 60px #4ECDE4;
  }
}



/* Projetos */

.projetos {
  padding: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;}


/* Título da seção de projetos */

.projeto-titulo {
  font-size: 1.5rem;
  margin-bottom: 50px;
  padding: 10px;
}

.projetos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  max-width: 1300px;

}

.imagem-projeto {
  height: 200px;
  width: 90%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.projeto-card {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.projeto-card:hover {
  box-shadow: #555 0px 0px 10px;
  transform: translateY(-5px) scale(1.05);
}
.projeto-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 255, 255, 0.2);
  color: #e2e8f0;
}

.projeto-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 20px #00f5ff44;
}
.projeto-card a {
  font-size: 10px;
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 8px;
}

.projeto-card h3 {
  font-size: 15px;
  color: #00f5ff;
}

.projeto-card p {
  font-size: 13px;
  margin-top: 10px;
  color: #ffffff;
  padding: 8px 15px;
}

.projeto-card a:hover {
  background-color: #28a745;
  color: white;
}

.projeto-card a {
  border: 1px solid #00f5ff;
  color: #00f5ff;
}

.projeto-card a:hover {
  background: #00f5ff;
  color: #020617;
  box-shadow: 0 0 10px #00f5ff;
}

/* Habilidades */

.habilidades {
  padding: 6px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.habilidade-titulo {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.habilidade-lista {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.html,
.css,
.js,
.git {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease;
  width: 100px;
  box-shadow: 0 0 15px #00f5ff;
}

.html:hover,
.css:hover,
.js:hover,
.git:hover {
  box-shadow: #555 0px 0px 10px;
  transform: translateY(-1px) scale(1.05);
}

ul li {
  font-size: 18px;
  color: #333;
}

/* Contato */

.contato {
  padding: 10px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(14, 13, 13, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(0, 255, 255, 0.2);
  padding: 2rem;
}

.contato-titulo {
  font-size: 1.5rem;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #00f5ff;
}

form {
  background: rgba(29, 28, 28, 0.459);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 255, 255, 0.2);
  max-width: 400px;
  width: 100%;
}

form label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  color: #00f5ff;
}

form input,
form textarea {
  width: 100%;
  padding: 0.8rem;
  background-color: #ffffffbb;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
}

form button {
  background-color: #00f7ffa1;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

form button:hover {
  background-color: #14f7ffda;
}

/* Botão menu */
.botao-menu {
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* Responsividade */

@media (max-width: 768px) {

  .conteudo-sobre {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  .sobre {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .foto-perfil {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }

  .projetos-container {
    grid-template-columns:1fr;
    align-items: center;
    justify-content: center;
    width: 70%;
  }

  .habilidades .habilidade-lista {
    flex-direction: column;
    }
  .habilidade-lista img {
    width: 70px;
    height: 70px;
  }

  .projeto {
    width: 100%;
  }

  ul {
    flex-direction: column;
  }

  .botao-menu {
    display: block;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(15, 23, 42, 0.8);
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    max-height: 0;
  }

  .menu.active {
    max-height: 500px;
    padding: 20px;
  }
  .contato {
  align-items: center;
  padding: 2rem;
  width: 80%;
  }

  /* Rodapé */
  
  footer {
    background-color: rgba(15, 23, 42, 0.8);
    color: white;
    padding: 1rem;
    position: relative;
    width: 100%;
  }
}

.rodape {
  text-align: center;

}

footer {
  background-color: rgba(15, 23, 42, 0.8);
  color: white;
  padding: 1rem;
  position: relative;
  width: 100%;
}

